.layout {
    min-height: 100vh;
    background-color: black;
    color: white;
  }
  
  .content {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .main-content {
    flex: 1;
    border-left: 1px solid #2f3336;
    border-right: 1px solid #2f3336;
    min-height: calc(100vh - 80px);
    max-width: 600px;
  }
  
  @media screen and (max-width: 768px) {
    .main-content {
      margin-left: 0;
      margin-right: 0;
    }
    .rightbar {
        display: none;
    }

  }